header{
    height:90vh;
    width:100%;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../images/imagebg1.jpg) no-repeat center;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    align-items:center;
}

header div{
    height:100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding:8em 2em 4em 8em;
    background:rgba(0,0,0,0.1);
    color: #fff;
}
header div p{
    display: flex;
    justify-content: flex-start;
    font-size: 12px; 
    margin: 0;
}
header div button{
    width:10em;
    height:30px;
    text-align: center;
    background-color: #fff;
    border: none;
    margin-top:10px;
    border-radius: 20px;
    color:#24726d;
    font-size: .7em;
    font-weight:bold;
}

main{
    display: flex;
    width: 100%;
}
.aside-left{
    width:20%;
    height:100vh;
    background-color: yellow;
}
.main{
    height:100vh;
    width:60%;
}
.aside-right{
    width:20%;
    height:100vh;
    background-color:orangered;
}
