.modalBackground{
    position: fixed;
    z-index: 1000;
    height:100vh;
    width:100%;
    background:rgba(221, 216, 216, 0.3);
    display: flex;
    justify-content: center;
}

.modalContainer{
    position: relative;
    top: 12%;
    background:#fff;
    flex-direction: column;
    height: 20em;
    width:16em;
    border-radius:20px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0,0,0,.4) 0 10px 20px;
}

/* .modalContainer::before{
        content: "";
        width: 2em;
        height: 2em;
        background: red;
        z-index: 0;
        position: absolute;
        border-radius:50%;
        top: 70%;   
      } */

.modalContainer span {
    width: 100%;
    height:1.4em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: .2em;
}
.closeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1em;
    background: transparent;
    border: none;
    padding:.4em;
}